:root {
  --heading-font-family: "Solitreo", cursive;
  --default-font-family: "Source Serif Pro", serif;
  --branding-color: #93a9ff;
  --secondary-color: #fff;
}

body {
  text-align: center;
  padding: 10px;
  background: black;
}
h1 {
  font-family: var(--heading-font-family);
  font-size: 100px;
  padding-top: 20px;
  color: var(--branding-color);
}

h2,
h3 {
  font-family: var(--default-font-family);
  font-size: 30px;
  color: var(--secondary-color);
}

h4 {
  font-family: var(--heading-font-family);
  font-size: 40px;
  color: white;
}

h5 {
  font-family: var(--default-font-family);
  font-size: 20px;
  color: var(--secondary-color);
  padding: 10px;
}

h5 a {
  text-decoration: none;
  color: white;
}

h5 a:hover {
  color: var(--branding-color);
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 20px;
  line-height: 27px;
  padding-top: 15px;
  font-family: var(--heading-font-family);
  margin: 20px;
}

.image a:hover {
  opacity: 70%;
}

.icons a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 10px;
}

.icons a:hover {
  color: black;
}

.email a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-family: var(--heading-font-family);
}

.email a:hover {
  color: black;
}
.container-footer {
  color: white;
  justify-content: center;
  text-align: center;
}
footer {
  background: var(--branding-color);
  padding: 30px;
  text-align: center;
  width: 100%;
}

@media (max-width: 576px) {
  body {
    text-align: center;
  }

  h5 {
    display: none;
  }
  .icons a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 5px;
    text-align: left;
  }
  .email a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: var(--heading-font-family);
    padding: 5px;
    text-align: left;
  }
}
