:root {
  --heading-font-family: "Solitreo", cursive;
  --default-font-family: "Source Serif Pro", serif;
  --branding-color: #93a9ff;
  --secondary-color: #fff;
}

body {
  text-align: center;
  padding: 10px;
  background: black;
}

/*Homepage */
h1 {
  font-family: var(--heading-font-family);
  font-size: 100px;
  padding-top: 20px;
  color: var(--branding-color);
}

h2,
h3 {
  font-family: var(--default-font-family);
  font-size: 30px;
  color: var(--secondary-color);
}

h4 {
  font-family: var(--heading-font-family);
  font-size: 40px;
  color: white;
}

h5 {
  font-family: var(--default-font-family);
  font-size: 20px;
  color: var(--secondary-color);
  padding: 10px;
}

h5 a {
  text-decoration: none;
  color: white;
}

h5 a:hover {
  color: var(--branding-color);
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 20px;
  line-height: 27px;
  padding-top: 15px;
  font-family: var(--heading-font-family);
  margin: 20px;
}
/*About Me */
.about-section-content h2 {
  font-size: 60px;
}

/*My Work*/
.work h4 {
  padding-top: 15px;
  padding-bottom: 0px;
  margin: 0;
}
.work h5 {
  font-size: 14px;
  margin: 0px;
}

.portfolio img {
  margin: 0px;
  padding: 0px;
  border-top: 40px solid #f7f5fc;
  border-bottom: 40px solid #f7f5fc;
  border-left: 20px solid #f7f5fc;
  border-right: 20px solid #f7f5fc;
}

.weather img {
  margin: 0;
  padding: 0;
  border-top: 30px solid #f7f5fc;
  border-bottom: 20px solid #f7f5fc;
  border-left: 10px solid #f7f5fc;
  border-right: 10px solid #f7f5fc;
}

.work h1 {
  font-size: 70px;
}

/*Contact Page*/
.form {
  max-width: 500px;
  margin: 0 auto;
  font-family: var(--heading-font-family);
  color: white;

}

.mb-3 {
  text-align: left;
}

/*Nav and Footer*/
.image a:hover {
  opacity: 70%;
}

.icons a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 10px;
}

.icons a:hover {
  color: black;
}

.email a {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-family: var(--heading-font-family);
}

.email a:hover {
  color: black;
}
.container-footer-desktop {
  color: white;
  justify-content: center;
  text-align: center;
}
footer {
  background: var(--branding-color);
  padding: 30px;
  text-align: center;
}
.navbar {
  background-color: var(--branding-color);
  text-decoration: none;
}

.navbar a {
  color: white;
  text-decoration: none;
}
.container-footer-mobile {
  display: none;
}

@media (max-width: 576px) {
  body {
    text-align: center;
    overflow-x: hidden;
  }
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 30px;
  }
  h5 {
    display: none;
  }
  .icons a {
    display: none;
  }
  .email a {
    display: none;
  }
  .container-footer-mobile {
    display: inline-block;
    text-align: center;
  }
  .container-footer-desktop {
    display: none;
  }
  .about-section-content h2 {
    display: none;
  }
  .work h1 {
    font-size: 50px;
  }
}
